<html>
    <head>
        <link rel="shortcut icon" href="upload/favicon.ico">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Email Confirmado - Gera QRCODE</title>
        <link rel="stylesheet" type="text/css" href="/css/email.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    </head>
    <body>
        <main>
            <section id="email">
                <div class="email">
                    <div id="titulo_email">
                        <p>Email Confirmado ✔️</p>
                    </div>
                    <div id="corpo_email">
                        <p class="subtit_corpoEmail">TUDO CERTO 😎</p> 
                        <p>Seu email foi confirmado com sucessso, enviamos no seu email as URL's para você acessar e fazer 
                    o download do seu novo QRCODE.</p>
                        <p>Verifique seu email por gentileza, caso não receba em 30 minutos entre em contato conosco pelo 
                    email: <b><a href="mailto:contato@geraqrcode.com.br" class="email_link">contato@geraqrcode.com.br</a></b></p>
                        <p>Muito obrigado, qualquer dúvida nos avise 😉</p>
                    </div>
                    <div id="rodape_email">
                        Gera QRCODE - 📧 Atendimento ao cliente: <a href="mailto:contato@geraqrcode.com.br" class="email_link">contato@geraqrcode.com.br</a>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>