<!DOCTYPE html>
<meta charset="UTF8">
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179102194-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-179102194-1');
    </script>

    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
      window.OneSignal = window.OneSignal || [];
      OneSignal.push(function() {
        OneSignal.init({
          appId: "b27da8dc-e8ca-44c0-a370-0550f8d80444",
        });
      });
    </script>
    
    <meta name="description" content="Gerador Grátis de QRCODE dinâmico para Facebook">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="qrcode, qr code, gerador qrcode gratis, gerador qr code gratis, qrcode gratis, qr 
    code gratis, qrcode delivery, qr code delivery, cardápio digital, qrcode whatsapp, qr code whatsapp, qrcode 
    instagram, qr code instagram, qrcode facebook, qr code facebook, qrcode linkedin, qr code linkedin gera qrcode, 
    gerador qrcode, gerador qr code, gera qr code, gerar qrcode, gerar qr code,qrcode dinamico, qr code dinamico">
    <meta property="og:title" content="Gera QRCODE">
    <meta property="og:description" content="Gerador Grátis de QR CODE dinâmico para Sites, Aplicativos, What's App,
    Instagram, Facebook e Linkedin">
    <meta property="og:image" content="https://storage.googleapis.com/qrcode-img/img-site/img%20facebook.jpg">
    <meta property="og:url" content="https://geraqrcode.com.br/ ">
    <meta property="og:type" content="article">
    <link rel="apple-touch-icon" sizes="180x180" href="/upload/logo-appweb.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/upload/logo-appweb.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/upload/logo-appweb.png">
    <link rel="shortcut icon" href="upload/favicon.ico">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/menu_lateral.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/qrfacebook.css">
    <link rel="stylesheet" type="text/css" href="/css/modal.css">
    <link rel="stylesheet" type="text/css" href="/css/spinner.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" 
    crossOrigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossOrigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet">
    <title>Gera QRCODE - Facebook</title>
  </head>
 <body>
  <header id="header">
    <ul class="nav nav-pills menu_superior">
      <div id="logo">
        <a href="/"><img src="/upload/logo_site.png" class="logo_img"></a>
      </div> 
      <div class="itens_menu">
        <li class="nav-item">
          <a class="nav-link" href="/">INÍCIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/geraqrcode">GERADOR QRCODE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="abreModal(modalPossuiQRCODE)">JÁ POSSUO QRCODE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="abreModal(modalContato)">CONTATO</a>
        </li>
      </div> 
      <div></div>
    </ul>
    </header>
   <main id="main">

    <section id="menu_lateral_qr">
      <h1>QR CODE</h1>
      <div class="div_menu_icon">
        <a href="/geraqrcode"><img src="/upload/icon-social/app_icon.png" class="icon_menu"></a>
      </div>
      <div class="div_menu_icon">
        <a href="/geraqrwhats"><img src="/upload/icon-social/whatsapp_icon.png" class="icon_menu"></a>
      </div>
      <div class="div_menu_icon">
        <a href="geraqrinstagram"><img src="/upload/icon-social/instagram_icon.png" class="icon_menu"></a>
      </div>
      <div class="div_menu_icon">
        <a href="geraqrfacebook"><img src="/upload/icon-social/facebook_icon.png" class="icon_menu"></a>
      </div>
      <div class="div_menu_icon">
        <a href="geraqrlinkedin"><img src="/upload/icon-social/linkedin_icon.png" class="icon_menu"></a>
      </div>
    </section>

    <section id="gerador_qrcode">
        <div id="titulo"></div>
        <p class="titulo_qrcode">FACEBOOK</p></div>
        <section id="qrcode">
            <div id="qrcode_img">
              <div class="div_qrcode_imagem">
                <img class="qrcode_imagem" src="/upload/qrcode24.png"> 
                <button type="submit" class="btn_gerar-qrcode" onclick="enviaFormFacebook(event)">Gerar QRCODE</button>
              </div>
            </div>  
            
         <form id="formQRCode">
  
          <div class="div_form_input">
            <label class="label_qrcode" for="input-nome">Nome do Perfil</label>
            <div class="input_input">
              <i class="fas fas fa-building icon_input"></i>
              <input type="text" placeholder="Nome do Perfil" id="input-nome" name="nome" class="input_qrcode"  
              required="required">
            </div>
          </div>

          <div class="div_form_input">
            <label class="label_qrcode" for="input-facebook">Link do Perfil</label>
            <div class="input_input">
              <i class="fab fa-facebook-square icon_input" style="font-size: 2.5rem;"></i>
              <input type="url" placeholder="facebook.com.br/meuperfil" id="input-facebook" name="facebook" 
          class="input_qrcode" required="required">
            </div>
          </div>
    
          <div class="div_form_input">
            <label class="label_qrcode" for="input-email">Meu Email</label>
            <div class="input_input">
              <i class="fas fa-envelope icon_input"></i>
              <input type="email" placeholder="email@meuemail.com.br" id="input-email" name="email" class="input_qrcode" required="required">
            </div>
          </div>
          <button type="submit" class="btn_gerar-qrcode btn_mobile" onclick="enviaFormFacebook(event)">Gerar QRCODE</button>            
         </form> 
         </div>


      </section>
      </section>
    </section>
   </main>
  <footer>
      <section id="rodape">
        <div>
            <p>GERA QRCODE - Atendimento ao Cliente: <a href="mailto:contato@geraqrcode.com.br">contato@geraqrcode.com.br</a></p>
        </div>
      </section>

    <section id="modal">

    </section>
    <section id="spinner">
      
      
      
    </section>

  </footer>
  <script type="text/javascript" src="js/controller_view.js"></script>
  <script type="text/javascript" src="js/spinner.js"></script>
  <script type="text/javascript" src="/js/modal.js"></script>
  <script type="text/javascript" src="/js/email.js"></script>
  <script type="text/javascript" src="/js/formularios.js"></script>
  <script>

    if(screen.width <= 750){
      menuMobile();
      //formMobile();
    }
  </script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossOrigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossOrigin="anonymous"></script>

 </body>
</html>