<html>
    <head>
    </head>
    <body>
        <main>
            <section id="email">
                <div class="email">
                    <p>Olá, tudo bem ?</p> 
                    <p>Sou o Bruno Ribeiro e irei cuidar de todos os detalhes para que você tenha a melhor experiência na Gera QRCODE.</p>
                    <p>Seu QRCODE já foi gerado com sucesso e está disponível para download no 
                    formato <b>.PNG</b> e <b>.SVG</b>.</p> 
                    <p>Mas antes de tudo preciso de um favor, que clique no link abaixo para confirmar o email e em seguida iremos lhe enviar um novo email com as URL's de acesso ao QRCODE.</p>
                    <p><b>https://geraqrcode.com.br/confirma-email/${dados.id}</b></p> 
                    <p>Após confirmar o email, caso não receba o email com as URL's por favor entre em contato conosco pelo email: <a href="mailto:contato@geraqrcode.com.br"><b>contato@geraqrcode.com.br</b></a></p> 
                    <p>Estamos aguardando 😉</p>
                    <p>Att,</p> 
                    <p>Bruno Ribeiro</p>
                    <p>Equipe Gera QRCODE</p>
                </div>
            </section>
        </main>
    </body>
</html>