<html>
    <head>
    </head>
    <body>
        <main>
            <section id="email">
                <div class="email">
                    <p>Seu email já está confirmado e agora você já pode aproveitar o seu novo QRCODE !</p>
                    <p>Nos link's abaixo você tem acesso ao seu QRCODE em <b>.PNG</b> e em <b>.SVG</b> em alta resolução:</p> 
                    <p><b>QRCODE.PNG - ${dados.urlPng}</b></p>
                    <p><b>QRCODE.SVG - ${dados.urlSvg}</b></p>
                    <p>Segue algumas orientações:</p>
                    <p>O QRCODE é dinâmico, ele identifica o dispositivo que está sendo utilizado e direciona o cliente para o site ou App de acordo com o dispositivo, seja Android ou IOS.</p>
                    <p>Caso precise editar algum link ou adicionar algum outro link é só entrar em contato com nossa equipe pelo email: <a href="mailto:contato@geraqrcode.com.br"><b>contato@geraqrcode.com.br</b></a>.</p> 
                    <p>Para o QRCODE funcionar seu cliente precisa estar conectado na internet.</p>
                    <p>Caso deseje criar um novo QRCODE com o mesmo email de cadastro, ou encontre algum erro com o QRCODE por favor entre em contato conosco pelo email também.</p>
                    <p>Nosso horário de atendimento é de segunda a sexta feira exceto feriados nacionais das 09:00h às 18:00h.</p>
                    <p>Qualquer dúvida estamos a disposição. Abraços !</p>
                    <p>Att,</p> 
                    <p>Bruno Ribeiro</p>
                    <p>Equipe Gera QRCODE</p>
                </div>
            </section>
        </main>
    </body>
</html>