<html>
    <head>
    </head>
    <body>
        <main>
            <section id="email"  style="width: 50%; display: flex; flex-direction: column; margin: auto;">
                <div class="email" style="text-align: center; box-shadow: 0px 0px 15px rgba(0,0,0,0.5); border-radius: 5px;">
                    <div id="titulo_email" style="background: rgb(141 86 191); padding: 15px; border-radius: 5px; font-weight: 500; font-size: 1.3rem;">
                        <p>Donwload QRCODE!</p>
                    </div>
                    <div id="corpo_email" style="text-align: center; padding: 15px;
                    background: #fff;
                    text-align: center;">
                        <p>Nos link's abaixo você tem acesso ao QRCODE em <b>.PNG</b> e em <b>.SVG</b> em alta resolução:</p> 
                        <p><b>QRCODE.PNG - ${dados.urlPng}</b></p>
                        <p><b>QRCODE.SVG - ${dados.urlSvg}</b></p>
                        <p>Caso precise de ajuda ou tenha alguma dúvida entre em contato conosco por email ou clicando no botão abaixo:</p>
                        <button class="btn_envioQrCode" style="margin: 25px;
                        padding: 15px;
                        font-weight: bold;
                        font-size: 1rem;
                        box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
                        border: none;
                        border-radius: 6px;
                        cursor: pointer;
                        background: rgb(169 131 204);">QUERO ENTRAR EM CONTATO</button>
                        <p>Att,</p> 
                        <p>Bruno Ribeiro</p>
                        <p>Equipe Gera QRCODE</p>
                    </div>
                    <div id="rodape_email" style="text-align: center;
                    padding: 10px;
                    font-size: .8rem;
                    font-weight: 500;
                    background: #d2d2d2;
                    color: #000000;
                    border-radius: 5px;
                    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);">
                        Gera QRCODE - 📧 Atendimento ao cliente: <a href="mailto:contato@geraqrcode.com.br" 
                    class="email_link">contato@geraqrcode.com.br</a>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>